
body {
        background-image: url("https://i.pinimg.com/236x/7b/c3/a3/7bc3a3b5e1fd74354b6a5b5317b940a5--black-wood-floor-dark-wood-floors.jpg");
        background-color: #cccccc;
        
       }


#div1{
      display: flex;      
      justify-content:space-around             
}

.secciones1{
             display: flex;
             justify-content: space-between;
             list-style: none;
             justify-content: space-around;
             margin: 30px;                        
             color:grey;  
             font-family: cursive; 
             
}
ul li a:hover{
            opacity: 0.5;
            font-size: 20px;
}
#logopadre{
  text-align: center;
  border-radius: 600px
          }
 @media only screen and (max-width: 768px){
         nav #div1{
                 align-items: center;
                 width: 100%; 
                 margin: 0px 0px 0px 90px; 
                                           
         }
         nav ul{
              
                 display: flex;
                 flex-direction: column;
                 
         }
         nav img{
                border: 2px solid black;
                border-radius: 300px;
                width: 150px;  
                height: 150px; 
         }
 }
 

#logohijo{
            border: 2px solid black;
            border-radius: 300px;
            left: 150px;
}
#img{
      border: 1px solid #ddd;
      border-radius: 20px;
      padding: 5px;
      width: 150px;
    }      
.secciones2{ 
             display: flex;
             justify-content: space-between;
             list-style: none;
             justify-content: space-around;
             margin: 30px; 
             
             color: grey; 
             font-family: cursive; 
                     
}
#imagen1{
    width: 300px;
    height: 200px;
       
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    border-radius: 10px;   
    border-style: double;
}
#heropadre{
        display: flex;
        justify-content: space-around;
        align-items: center;
}
#hero{       
        margin: 20px;
}
#texto1 {               
         width: 80%;
        color:#808080;
        font-family: cursive; 
        font-size: x-large;
}
#imagen2{
        width: 300px;
        height: 200px;
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        border-radius: 10px; 
        border-style: double;
}             
#heropadre2{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#hero2{
       margin: 20px;
}         
#texto2{
         margin: 50px;
         color: grey;
         font-family: cursive;
         font-size: x-large;
}
 
#imagen3{
         margin:20px;
         width: 300px;
         height: 150px;
         image-rendering: auto;
         image-rendering: crisp-edges;
         image-rendering: pixelated;
         border-radius: 10px; 
         border-style: double;
}

#contenedor-hijo{
                  display: flex;   
                  justify-content: space-around; 
                  text-align: center;
                  border: 2px solid gray; 
                  margin: 30px;                                                        
}

#opiniones{
           display: flex;
           justify-content: center;
           font-family: cursive;
           color: grey;
}
.opiniones-hijo{
             display: flex;
             justify-content: space-around;
             border: 2px solid grey;
             margin: 0px 30px;
             font-family: cursive;
             color: grey;
}
 h1{
        font-family: cursive;
        color: grey;
        display: flex;
           justify-content: center;
 }

#logopadre2{
            position: relative;          
}


.button{
        background-color:grey;
        color: black;
        border: 2px solid black; /* Green */
}


#formulario2{
           display: flex;
           justify-content: space-around;
           padding: 50px;
}

footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}
footer img{
        border: 2px solid black;
        border-radius: 300px;
        width: 70px;  
        height: 70px;  
}
footer p{
         color: grey;
         font-family: cursive;
}
