nav{
    background-color: black;
   }
 
#logo{
      border: 1px solid red; 
      border-radius: 130px;
      margin: 20px;
     }
#secciones{
    margin-left: 230px;
    margin-top: -180px;
           }
.secciones2{
           text-decoration: none;
           
          } 
#busqueda {
           margin-left: 230px;
           margin-top: -180px;
}    